.progressbar {
  position: fixed;
  display: block;
  // top: 0;
  bottom:0;
  left: 0;
  width: 0;
  height: 4px;
  background: var(--crimson);
  // background: var(--orangeIceberg);
  animation-name: scrollbar;
  animation-timeline: scroll(root);
  z-index: 10;
  // border: 1px solid tomato;
}
@keyframes scrollbar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.navcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: var(--space-lg);
  // max-width: var(--size-max-width);
  // border: 1px solid pink;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  gap: var(--space-lg);
}

.navigationItem {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  &:last-of-type{
    margin-left: var(--space-lg);
  }
}

.navigationItem a {
  border-bottom: 1.5px solid transparent;
  color: currentColor;
  text-decoration: none;
}

.navigationItem a:hover {
  border-bottom-color: var(--primary);
  color: var(--primary);
}

.logoLink {
  &:hover {
    img {
      filter: invert(70%);
      // opacity: .5;
    }
  }
}

label {
  span {
    display: none;
  }
}

@container body (max-width: 767.98px) {
  .navcontainer {
    padding-left: calc(var(--size-gutter)/4);
    padding-right: calc(var(--size-gutter)/4);
  }
  .logoLink {
    transform: scale(0.8, 0.8);
  }
}

@container body (min-width: 768px) {
  .navcontainer {
    padding-left: calc(var(--size-gutter)/2);
    padding-right: calc(var(--size-gutter)/2);
  }
}

@container body (min-width: 1024px) {
  .navcontainer {
    padding-left: var(--size-gutter);
    padding-right: var(--size-gutter);
  }
}

@container body (min-width: 1440px) {
  .navcontainer {
    max-width: calc(100% - 64px * 4);
    padding-left: 0;
    padding-right: 0;
  }
}

@container body (min-width: 1920px) {
  .navcontainer {
    max-width: calc(100% - 64px * 6);
  }
}

  // --wide-max-width: // minus64 double

// background: #000;
// padding: var(--space-lg) var(--size-gutter) 0;
// padding: var(--space-lg) var(--size-gutter) 0;
// @media (min-width: ) {

// @container main (min-width: 768px) {
// @container main (min-width: 1024px) {}
// container: nav-container / inline-size;
  // margin-bottom: 100px;