
.postmain {
	font-size: var(--text-prose);
	line-height: var(--loose);
	padding: 0 var(--size-gutter);
	h1 {
		font-size: var(--text-3xl);
		margin: var(--space-3xl) 0 var(--space-lg);
		font-family: var(--font-Roboto);
	}
	h2 {
		font-size: var(--text-2xl);
	}
	h3 {
		font-size: var(--text-xl);
		margin: var(--space-lg) 0; 
	}
	h4,h5,h6 {
		font-size: var(--text-prose);
		font-weight: var(--semibold);
		margin: var(--space-lg) 0; 
	}
}

@container body (width < 1280px) {
	.containerGrid {
		display: block;
	}
	.navigation {
		display: none;
	}
	.postmain {
		display: block;
	}
}

@container body (min-width: 1280px) {
	.containerGrid {
		display: grid;
		width: 100%;
		margin-top: var(--size-gutter);
		grid-template-columns: 2fr 10fr;
		grid-template-rows: auto;
		gap: 0;
		// grid-template-rows: 80svh;
		// column-gap: 2dvw;
		// column-gap: 1em;
		// row-gap: 1em;
		// gap: 1em;
	}

	.navigation {
		grid-column: 1/2;
		grid-row: 1/2;
		background: rgba(238, 238, 238, .5)
	}

	.postWrap {
		grid-column: 2/3;
		grid-row: 1/2;
		// border-top: 4px solid tomato;
	}

	.postmain {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2em
	}
}
		// column-gap: 2em;
		// row-gap: 1em;
		// section {
		// 	background: palevioletred;
		// }
// grid-template-columns: repeat(auto-fill, minmax(1fr, 8fr 8fr));
// background: #eee;










// .container {
// 	// border: 1px solid blueviolet;
// 	// border: 1px solid cyan;
// }