
.wrap {
	font-size: var(--text-prose);
	line-height: var(--loose);
	// margin: 0;
	// padding: 0;
	background: #1B1E28;
	height: 100svh;
	pre {
		border-radius: 8px;
		padding: 1em;
		overflow-x: scroll;
		tab-size: 2;
	}
}