.hero {
  margin: var(--space-xl) auto 0;
  max-width: var(--size-max-width);
  position: relative;
  display: grid;
  gap: 0;
  // border: 1px solid pink;
}

.image {
  /* Ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width */
  width: 100%;
  // border: 1px solid crimson;
}

.details {
  background: var(--background);
  width: 95%;
  // width: 98%;
  // border: 1px solid crimson;
}
  // left: 0;
  
  // max-width: 40rem;
  // padding: var(--space-2xl) var(--size-gutter);

.title {
  letter-spacing: -0.012em;
  font-size: var(--text-title);
  font-weight: var(--extrabold);
  line-height: var(--solid);
  // margin: var(--space-xl) 0 var(--space-xl) var(--size-gutter);
  // margin: var(--space-xl) 0 var(--space-xl) var(--space-xl);
  // margin: var(--space-xl) 0  var(--space-xl) var(--size-gutter);
  // margin: var(--size-gutter);
}

.content {
  font-size: var(--text-lead);
  font-weight: var(--semibold);
  // margin: 0 0 0 var(--size-gutter);
  // margin: 0 0 0 var(--size-gutter);

  line-height: var(--loose);
}



// @container main (min-width: 480px) {
// }
// @container (10em <= width <= 20em) {

@container main (width < 1024px) {
  .hero {
    grid-template-rows: 3fr 1fr;
    grid-template-rows: auto 1fr;
  }
  .image {
    height: 40svh;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .details {
    grid-column: 1/2;
    grid-row: 2/3;
    // width: 100%;
  }
  .title,.content {
    margin-left: var(--space-xl);
  }
}

//* container Wide Size
//---------------------------------------------------- */
@container main (min-width: 1024px) {
  .hero {
    grid-template-columns: 1fr 6fr 2fr;
    // border: 1px solid cyan;
  }
  .image {
    // border: 1px solid tomato;
    height: 62svh; //61.8vh;
    grid-column: 2/4;
    grid-row: 1/3;
    // aspect-ratio: 16 / 9;
    // aspect-ratio: 21 / 9;
    img {
      object-fit: contain;
      // width: auto;
      height: auto;
      // align-self: center;
      // margin: 0 0 0 auto;
      // margin: 0 auto;
    }
  }
  .details {
    grid-column: 1/3;
    grid-row: 2/3;
    position: absolute;
    bottom: 0;
    z-index: 2;
  }
  .title,.content {
    margin-left: var(--size-gutter);
  }
}
