:root {
	--duskGray: #272f3a;
	--duskGray: #292f3b;
	--lunaGray: #a6b1b5;
	--shineWhite: #f4f4f4;
	--paperSoftness: #d1bca1;
	--intoroRow: 42dvh;
}

.intro {
	container: intro / inline-size;
	height: var(--intoroRow);
	display: flex;
	align-items: stretch;
}

.grid {
	display: grid;
	margin: 0;
	padding: 0;
	width: 100%;
	grid-template-columns: 33% 34% 33%;
  grid-template-rows: var(--intoroRow);
	position: relative;
}
.grid1,.grid2,.grid3 {
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
}

.grid1 {
	background: var(--shineWhite);
	// color: var(--duskGray);
	// color: var(--text-color);
}
.grid2 {
	background: var(--lunaGray);
	color: var(--shineWhite);
	text-shadow: 1px 1px 1px var(--lunaGray);
	white-space: nowrap;
	z-index: 9;
}
.grid3 {
	background: var(--duskGray);
	// opacity: 0.5;
	// color: var(--shineWhite);
	// color: var(--background);
	// color: #000;
}

.intoro {
	background: url(./../../asset/img/carmen-martinez-K4uj-VPRjJc-unsplash.png);//1
	background-size: contain;
	background-size: cover;
	background-position: bottom left;
	background-position: center right;
	background-position: top;
	background-position: bottom;
	margin: var(--space-xl) 0 0;
	padding: 0;
	width: 100%;
	
	// height: 45dvh;
	// border: red 2px solid;

	// height: 40dvh;
	// margin: var(--space-xl) 0 0;
	// padding: var(--space-3xl) var(--space-2xl) 0;
	// display: flex;
	// filter: blur(1px);
	// filter: saturate(.4);
	// filter: brightness(0.5);
	// filter: grayscale(40%);
	// filter: sepia(50%);
	// transform:skewY(-4deg);
	// color: rgba(#fdfdfd,.90);
	// animation-name: filters;
	// animation-duration: 15s;
	// animation-timing-function: linear;
	// animation-fill-mode: forwards;
	// animation-iteration-count: infinite;
}

.title {
	font-size: var(--text-3xl);
	font-weight: var(--body);
	text-transform: uppercase;
	margin: 0;
}

// article {
// 	// border: #EADD36 1px solid;
// 	margin: 0;
// 	// transform:skewY(5deg);
// }
// p {
// 	margin: initial;
// 	font-size: var(--text-xl);
// 	line-height: var(---default);
// 	font-weight: var(--body);
// }

@container main (max-width: 819.98px) {
	.grid {
		grid-template-rows: 22dvh;
	}
}

// @container main (min-width: 820px) {
// 	.intoro {
// 		background-position: center;
// 		background-position: 0 -260px;
// 	}
// }

@container main (min-width: 1024px) {
	.grid {
		grid-template-rows: 32dvh;
	}
}

// 	.intoro {
// 		height: 45dvh;
// 		background-position: 0 -340px;
// 		background-position: top;
// 		padding: calc( var(--space-2xl)*3);
// 		}
	
@container main (min-width: 1200px) {
	.grid {
		grid-template-rows: 42dvh;
	}
}

// 	.intoro {
// 		// background-attachment: fixed;
// 		// background-position: center;
// 		// background-attachment:scroll;
// 		// background-attachment: fixed;
// 		// background-repeat: no-repeat, repeat-y;
// 		// background-position: top;
// 		// background-position: center;
// 		// background-position: bottom;
// 		// background-position: 0 -45dvh;
// 		// background-position: 0 50dvh;
// 		// height: 50dvh;
// 	}

// @container main (min-width: 768px) {}
// @container main (min-width: 1024px) {}

	// background: url(./../../asset/img/IMG_3872.png);
	// background: url(./../../asset/img/note-thanun-dOFpWEml0nw-unsplash.avif);//tokyo
	// background: url(./../../asset/img/faizur-rehman-dJpupM4LiS4-unsplash.png);//pad
	// background: url(./../../asset/img/sajad-nori-1mbX8s7PjMc-unsplash.png);//HDD
	// background: url(./../../asset/img/code3.png);
	// background: url(./../../asset/img/firos-nv-Z2c6ounF-iE-unsplash.jpg);//2