// border-top: 1px solid #666;
// 1 2 3
// 4 2 5
// 6 2 7
// 8 2 7
// 9 2 10
//	--duskGray: #272f3a;
// 	--duskGray: #292f3b;
// 	--lunaGray: #a6b1b5;
// 	--shineWhite: #f4f4f4;
// 	--paperSoftness: #d1bca1;
// 	--intoroRow: 42dvh;


/* figure ----------*/
// .frount {
// 	position: absolute;
// 	display: block;
// 	background: var(--paperSoftness);
// }
// .worksDetails {

.figset::-webkit-scrollbar {
	display:none;
}

.figset {
	display: flex;
	align-items: center;
	overflow-x: scroll;
	-ms-overflow-style: none;// スクロールバー非表示（IE・Edge）
	scrollbar-width: none;// スクロールバー非表示（Firefox）
	padding: var(--space-3xl);
	padding-right: 300px;
	details {
		// border: 1px solid salmon;
		margin: 0;
		padding: 0;
		font-size: small;
		position: relative;
		p {
			white-space: nowrap;
			line-height: 1;
		}
	}
	summary {
		display: block;
		list-style: none;
	}
	summary::-webkit-details-marker {
		display: none; /* 矢印を消す */
	}
	aside {
		position: absolute;
		left: 0;
		bottom: -2em;
		// background: var(--paperSoftness);
		// background: var(--shineWhite);
		background: var(--background);
		padding: 1em 1em 1em 3em;
		// opacity: 0.9;
		z-index: 7;
		width: 85%;
		// margin: 0 var(--space-2xl) 0 0;
	}
	figure {
		margin: 0 var(--space-2xl);
		// box-shadow: 0px 1px 50px var(--paperSoftness);
		// box-shadow: 0px 1px 10px var(--shineWhite);
		// box-shadow: 0px 0px 10px var(--boxShadow);
		cursor: pointer;
		// border: 1px solid tomato;
		img {
			width: 340px;
			min-width: 340px;
			aspect-ratio: 16/9;
			// aspect-ratio: 4/3;
			object-fit: cover;
			object-position: left top;
			z-index: 2;
		}		
	}
}




@keyframes fadeinRight {
	0% {
		transform: translateX(-100%);
    opacity: 0;
		// clip-path: inset(45% 20% 45% 20%);
	}
	100% {
		transform: translateX(0);
    opacity: 1;
		// clip-path: inset(0% 0% 0% 0%);
	}
}

			// border: 10px solid #999;

// div {
// 	border: 1px solid salmon;
// 	border: 0;
// 	// border-top: 1px solid var(--shineWhite);
// 	// border-left: 1px solid var(--shineWhite);
// }

	// border: 1px solid salmon;
	// animation: loop 20s linear -60s both;
	// animation: loop 30s infinite linear -60s both;
	// &:hover {
	// 		animation-play-state: paused;
	// }