:root {
	--duskGray: #272f3a;
	--duskGray: #292f3b;
	--lunaGray: #a6b1b5;
	--shineWhite: #f4f4f4;
	--paperSoftness: #d1bca1;
	--intoroRow: 42dvh;
}

.container {
  display: block;
  margin: 0 auto;
  padding: var(--space-lg) var(--size-gutter);
  max-width: var(--size-max-width);
  // justify-content: space-between;
  // align-items: center;
  // container: nav-container / inline-size;
}

.layoutGrid {
	display: grid;
  // gap: 2rem;
	grid-column-gap: 1rem;
	grid-row-gap: 0;
	grid-template-columns: auto 3rem 3rem 3rem 1rem;
  grid-template-rows: 37dvh 10dvh auto;
  // grid-template-rows: auto auto auto;
	// height: 65dvh;
	padding-bottom: var(--space-xl);
  border-bottom: 1px solid var(--border);
}

.headers {
	grid-column: 1/1;
	grid-row: 1/4;
	// background: #fefefe;
	// background: PINK;
  // border: 1px solid #eee;
	section {
		display: block;
		// display: flex;
		// transition: deg(50px);
		margin: 0 0 0 auto;
		margin: -2em 0 2em auto;
		text-align: center;
		width: 40%;
		// background: url("../../asset/img/914575.avif") no-repeat;
		// background-size: contain;
		
		// border: 1px solid crimson;
		// text-orientation: upright;
		// writing-mode: vertical-rl;
		h3 {
			font-size: 2.2em;
			// font-size: 1.2em;
			// text-transform: uppercase;


			margin: 0;
			// background: url("../../asset/img/note-thanun-dOFpWEml0nw-unsplash.avif") no-repeat center bottom;
			// background: url("../../asset/img/carmen-martinez-K4uj-VPRjJc-unsplash.jpg") no-repeat right bottom;
			// -webkit-background-clip: text;
			// background-clip: text;
			// color: transparent;
			// background-size: cover;
			font-weight: 300;
		}
		h3 + p {
			margin: -.6em 0 0;
			font-size: 1.5em;
			font-family: var(--font-sans2);
			// border: 1px solid cyan;
		}
	}
}

.rowline1 {
	grid-column: 2/2;
	grid-row: 1/3;
	background: var(--shineWhite);
} 
.rowline2 {
	grid-column: 3/3;
	grid-row: 1/4;
	background: var(--duskGray);
}
.rowline3 {
	grid-column: 4/4;
	grid-row: 1/1;
	background: var(--paperSoftness);
	background: var(--lunaGray);
	// background: #EDD60E;
}
.free5 {
	grid-column: 5/5;
	grid-row: 1/4;
  // border-right: 1px solid var(--border);
}
// .center {
// 	text-align: center;
// }

// h1,h2,h3,p {
// }

header {
	// border: 1px solid cyan;
	// margin: var(--space-3xl) 0 0;
	h2,h3 {
		font-weight: 400;
	}
	h1 {
		background: url("../../asset/img/carmen-martinez-K4uj-VPRjJc-unsplash.jpg") no-repeat center bottom;
		background-size: cover;
		font-size: 8em;
		font-size: 7.2svw;
		margin-top: .8em;
		margin-bottom: var(--space-3xl);
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
		// border: 1px solid cyan;
	}
	h2 {
		margin: 0;
		font-size: 3em;
		text-transform: uppercase;
	}
	h2 + p {
		font-size: 3em;
		margin: 0;
		line-height: 1;
		// border: 1px solid cyan;
	}
	h3 {
		margin: 0;
		font-size: 3em;
		text-transform: uppercase;
		// border: 1px solid cyan;
	}
}








.wrapper {
	margin-top: var(--size-gutter);
	position: relative;
	// position: relative;
	// padding: 0 var(--size-gutter);
	// padding: var(--space-lg) var(--size-gutter) 0;
  // max-width: var(--size-max-width);
	display: grid;
	grid-column-gap: var(--size-gutter);
	grid-row-gap: var(--size-gutter);
	grid-template-columns: 1fr 1fr 1fr auto;
  // grid-template-rows: 40dvh 10dvh auto;
  grid-template-rows: auto auto auto;
	grid-template-rows: 300px 469px auto;
	// height: 65dvh;
	// padding-bottom: var(--space-xl);
  // border-bottom: 1px solid var(--border);
}

.grid {
  // background: #ddd;
  // background: #ddd;
  // padding: 10px;
  // border-radius: 8px;
  border: 1px solid var(--border);
}

.notepost {
	grid-column: 4/5;
	grid-row: 1/-1;
	position: relative;
  border-left: 1px solid var(--border);
	// padding: 0;
	padding: 0 0 0 var(--size-gutter);
	.title {
		font-family: serif;
		margin: var(--space-3xl) 0;
		margin: 0 0 var(--space-3xl);
		// z-index: 100;
		letter-spacing: -0.012em;
		font-size: var(--text-title);
		line-height: var(--solid);
	}
	// border: 1px solid tomato;
}

.top { 
	h2 {
		font-family: serif;
		font-size: var(--text-2xl);
		// font-weight: normal;
		line-height: var(--loose);
		margin: 0;
	}
	dl {
		margin: 0 0 calc(var(--space-3xl)* 1.5);
		// font-family: var(--font-sans2);
	}
	dt {
		display: inline-block;
		border-bottom: 1px solid var(--dlborderColor);
	}
	dd {
		display: inline-block;
		color: var(--notedlColor);
		border-bottom: 1px solid var(--dlborderColor);
		margin-left: 0;
		padding-left: 1em;
	}
}

.lamp {
	grid-column: 1/4;
	grid-row: 2/3;
	// background: url("../../asset/img/bundo-kim-IStZpF3ZeiQ-unsplash2.avif") no-repeat center top;
	background: url("../../asset/img/marc-olivier-jodoin-j2veIzsS9sY-unsplash-1680.avif") no-repeat;
	background-size: cover;

	// transform: skew(15deg,15deg);
	// transform: rotate(7deg);
	// background-size: contain;
	// opacity: .8;
	animation-name: filters;
	animation-duration: 15s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	border-radius: 100% 0% 0% 100% / 0% 50% 50% 100%;
	// border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
	// border-radius: 68% 32% 22% 78% / 52% 49% 51% 48%;
	// border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
	// border-radius: 68% 32% 22% 78% / 44% 49% 51% 56%;
	// border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
	// border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
	// border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
	// border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
	// border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
	// border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
	// border-radius:62% 38% 63% 37% / 40% 60% 40% 60%;
	// border-radius: 68% 32% 52% 48% / 52% 49% 51% 48%;
}

@keyframes filters {
	0% {
		filter: hue-rotate(90deg);//Green
	}
	15% {
		filter: hue-rotate(45deg);//Yellow
	}
	30% {
		filter: hue-rotate(120deg);//Cyan
	}
	45% {
		filter: hue-rotate(180deg);//Blue
	}
	60% {
		filter: hue-rotate(-50deg);//Pink
	}
	75% {
		filter: hue-rotate(-150deg);//Purple
	}
	95% {
		filter: grayscale(40%);
	}
}

.bggrid {
	grid-column: 2/3;
	grid-row: 3/4;
	position: relative;
	// background: var(--primary);
	background-color: #EADD36;
	border-left: 38px solid var(--white);
	border-right: 38px solid var(--white);
	&::before,&::after {
		position: absolute;
	}
	&::before {
		content: '';
		display: block;
		background: var(--duskGray);
		width: 48px;
		left: - 64px;
		top: var(--size-gutter);
		bottom: 0;
		z-index: 4;
	}
}




@container main (min-width: 768px) {
	.container {
		max-width: var(--size-max-width);
		margin: 0 auto;
	}
	// .wrapper {
	// 	gap: var(--space-xl);
	// 	// border: 1px solid tomato;
	// }
}

@container main (min-width: 1024px) {
	// .wrapper {
	// 	width: calc(85% - var(--size-gutter));
	// 	display: block;
	// 	margin: 0 auto;
	// 	// .title {
	// 	// 	margin: -60px 0 var(--space-3xl);
	// 	// }
	// }
}

// border: 1px solid cyan;
// 	border: 1px solid tomato;