// @media (prefers-reduced-motion: reduce) {
//   *, *::before, *::after {
//     transition-duration: 0.01ms !important;
//     animation-duration: 0.01ms !important;
//   }
// }

.container {
  display: block;
  margin: 0 auto;
}

//* INDEX - HEADER < INTORO
// ------------------------------*/
.layoutGrid {
	display: grid;
	width: 100%;
	grid-column-gap: 1rem;
	grid-row-gap: 0;
	grid-template-columns: auto 3rem 3rem 3rem 0; // All
  grid-template-rows: auto 7svh 4svh 5svh; // 768max
}
.headers {
	// background: url("../../asset/img/alex-CamJb_3RDoM-unsplash.jpg") no-repeat center center;
	// background-size: cover;
	// border: 1px solid cyan;
	padding-left: 2em; // 820*768
	grid-column: 1/6; // < 1024
	grid-row: 1/1;
	font-family: var(--font-Roboto);
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-content: flex-end;
	section {
		display: inline-block;
		margin: 2em 1rem 0 auto;
		text-align: center;
		// border: 1px solid cyan;
		h3 {
			font-size: 1.5em;
			font-weight: 300;
			margin: 0;
		}
		h3 + p {
			margin: -.4em 0 0;
			font-size: 1.2em;
			font-family: var(--font-sans2);
		}
	}
}
.rowline1 {
	background: var(--shineWhite);
} 
.rowline2 {
	background: var(--duskGray);
}
.rowline3 {
	background: var(--lunaGray);
}
header {
	// border: 1px solid cyan;
	// margin: var(--space-3xl) 0 0;
	h2,h3 {
		font-weight: 400;
	}
	h1 {
		background: var(--intoroBG);
		background-size: cover;
		// font-size: 10.4svw;// font-size: 7.2svw;
		font-size: 13.5svw;
		margin-top: .8em;
		margin-bottom: var(--space-3xl);
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
		// color: rgba(255 255 255 / 0.5);
		// background-blend-mode: soft-light;
		// border: 1px solid cyan;
	}
	h2 {
		margin: 0;
		// font-size: 10.4svw;
		font-size: 3em;
		text-transform: uppercase;
	}
	h2 + p {
		// font-size: 10.4svw;
		font-size: 3em;
		margin: 0;
		line-height: 1;
		// border: 1px solid cyan;
	}
	h3 {
		margin: 0;
		font-size: 3em;
		text-transform: uppercase;
		// border: 1px solid cyan;
	}
}

// INDEX - POST GRID
// ------------------------------*/
.wrapper {
	margin-top: var(--size-gutter);
	display: grid;
}
.notepost {
	// animation-name: fadeinPost;
  // animation-timeline: view();
	// animation-timeline: scroll();
	grid-column: 4/5;
	grid-row: 1/-1;
	position: relative;
	padding: 0 0 0 var(--size-gutter);
	padding: 0 var(--size-gutter);
	z-index: 4;
	.title {
		font-family: serif;
		margin: var(--space-3xl) 0;
		margin: 0 0 var(--space-3xl);
		letter-spacing: -0.012em;
		font-size: var(--text-title);
		line-height: var(--solid);
	}
}

.postloop {
	h2 {
		font-family: serif;
		font-size: var(--text-2xl);
		line-height: var(--loose);
		margin: 0;
	}
	dl {
		margin: 0 0 calc(var(--space-3xl)* 1.5);
	}
	dt {
		display: block;
		
	}
	dd {
		display: block;
		color: var(--notedlColor);
		border-bottom: 1px solid var(--dlborderColor);
		margin-left: 0;
		padding-left: 0;
	}
}
.lamp,.bggrid {
		display: none;
}

@keyframes filters {
	0% {
		filter: hue-rotate(90deg);//Green
	}
	15% {
		filter: hue-rotate(45deg);//Yellow
	}
	30% {
		filter: hue-rotate(120deg);//Cyan
	}
	45% {
		filter: hue-rotate(180deg);//Blue
	}
	60% {
		filter: hue-rotate(-50deg);//Pink
	}
	75% {
		filter: hue-rotate(-150deg);//Purple
	}
	95% {
		filter: grayscale(40%);
	}
}

// INDEX - About details
// ------------------------------*/
.about {
	details {
		border-bottom: 1px solid var(--summaryborder);
		position: relative;
		p {
			font-size: var(--text-lg);
			font-family: var(--font-serif-Yu);
		}
	}
	summary {
		cursor: pointer;
		position: relative;
		display: inline-flex;
		align-items: center;
		list-style: none;
		&:hover {
			transition: all linear 2s;
		}
		span {
			background: var(--summaryborder);
			width: 2.4em;
			height: calc(tan(60deg) * 2.2em / 2);
			clip-path: polygon(0 0, 100% 0, 50% 100%);
			margin-right: .5em;
		}
		h2 {
			text-transform: uppercase;
			font-weight: 300;
		}
	}
	summary::-webkit-details-marker {
		display: none;
	}
	details[open] {
		// padding: 0 var(--size-gutter) var(--space-xl);
		summary {
			flex-direction: column;
			flex-direction: row-reverse;
			span {
				clip-path: polygon(50% 0, 100% 100%, 0 100%);
				margin-left: 1em;
			}
		}
		div {
			span {
				// animation: accordion .5s linear infinite;
				animation: accordion 1s linear forwards;
				opacity: 0;
			}
			.rows1 {
				animation-delay: 0;
			}
			.rows2 {
				animation-delay: 1s;
			}
			.rows3 {
				animation-delay: 2s;
			}
			.rows4 {
				animation-delay: 3s;
			}
			.rows5 {
				animation-delay: 4s;
			}
			.rows6 {
				animation-delay: 5s;
			}
			.rows7 {
				animation-delay: 6s;
			}
		}
	}
}
@keyframes accordion {
  0% {
    opacity: 0;
		transform:translateY(4em);
  }
  100% {
    opacity: 1;
		transform:translateY(0);
  }
}

//* Responsive @container
// ------------------------------------------*/
@container main (width < 1024px) {
	.layoutGrid {
  	grid-template-rows: auto 7svh 4svh 5svh; // 1024max
		margin-bottom: var(--space-3xl);
	}
	.rowline1 {
		grid-column: 2/2;
		grid-row: 2/4;
	}
	.rowline2 {
		grid-column: 3/3;
		grid-row: 2/5;
	}
	.rowline3 {
		grid-column: 4/4;
		grid-row: 2/2;
	}
	summary {
		padding-left: var(--size-gutter);
		h2 {
			font-size: 1.2em;
		}
	}
	details[open] {
		div {
			padding: 0 var(--size-gutter) var(--space-xl);
		}
	}
}

@container body (min-width: 1024px) {
  .container {
		width: calc(100% - var(--size-gutter) * 2);
  }
	header {
		h1 {
			font-size: 10.4svw;
		}
	}
	.layoutGrid {
		grid-template-rows: 45svh 7svh 5svh;
	}
	.headers {
		grid-column: 1/1;
		grid-row: 1/4;
		padding-left: 0;
	}
	.rowline1 {
		grid-column: 2/2;
		grid-row: 1/3;
	}
	.rowline2 {
		grid-column: 3/3;
		grid-row: 1/4;
	}
	.rowline3 {
		grid-column: 4/4;
		grid-row: 1/1;
	}
	details[open] {
		padding: 0 var(--size-gutter) var(--space-xl);
	}
}

@container body (min-width: 1200px) {
	.wrapper {
		position: relative;
		// grid-column-gap: var(--size-gutter);
		grid-column-gap: calc(var(--size-gutter)/2);
		// grid-row-gap: var(--size-gutter);
		grid-row-gap: 0;
		grid-template-columns: 1fr 48px 1fr 3fr;
		grid-template-rows: 12svh 40vw auto;
	}
	
	.notepost {
		grid-column: 4/5;
		grid-row: 1/-1;
		position: relative;
		padding: 0 0 0 var(--size-gutter);
		padding: 0 var(--size-gutter);
	}
	.postloop {
		dt {
			display: inline-block;
			border-bottom: 1px solid var(--dlborderColor);
		}
		dd {
			display: inline-block;
			padding-left: 1em;
		}
	}
	.lamp {
		display: block;
		position: relative;
		grid-column: 1/4;
		grid-row: 2/3;
		background: url("../../asset/img/marc-olivier-jodoin-j2veIzsS9sY-unsplash-1680.avif") no-repeat;
		width: 40vw;
		height: 40vw;
		max-width: 600px;
		max-height: 600px;
		background-size: cover;
		// border-radius: 100%;
		border-radius: 100% 0% 0% 100% / 0% 50% 50% 100%;
		border-radius: 100% 0% 0% 100% / 0% 50% 50% 100%;

		margin: auto auto var(--size-gutter);
		// transform: rotate(15deg) translateX(0) translateY(0);


		animation-name: filters;
		animation-duration: 15s;
		animation-timing-function: linear;
		animation-fill-mode: forwards;
		animation-iteration-count: infinite;
		
	}
	.bggrid {
		grid-column: 2/3;
		grid-row: 3/4;
		position: relative;
		background-color: var(--underlowline);//#EADD36;
		display: flex;
		justify-content: center;
		h2 {
			writing-mode: vertical-rl;
			margin: 0;
			line-height: 1;
			font-family: var(--font-Roboto);
			text-transform: uppercase;
			font-weight: 300;
			font-size: 2em;
			color: var(--white);
			padding-top: calc(var(--size-gutter) * 5);
		}
		&::before,&::after {
			position: absolute;
			content: '';
			display: block;
		}
		&::before {
			background: var(--underduskGray);
			width: 54px;//48px;
			left: - 70px;
			top: calc( var(--size-gutter)*1.2);
			bottom: 0;
			// border-left: 100px solid var(--white);
		}
		&::after {
			background: var(--shineWhite);
			width: 54px;
			left: 70px;
			top: calc( var(--size-gutter)*3);
			bottom: 0;
		}
	}
}

@container body (min-width: 1440px) {
  .container {
		width: calc(100% - 64px * 4);
  }
}

@container body (min-width: 1680px) {
	.layoutGrid {
		grid-template-rows: 50svh 7dvh 5dvh;
		margin-bottom: 15svh;
	}
	.headers {
		h1 {
			font-size: 175px;
		}
	}
}

@container body (min-width: 1920px) {
  .container {
    max-width: calc(100% - 64px * 6);
    max-width: 1920px;
  }
	.layoutGrid {
		grid-template-rows: 55svh 7dvh 5dvh;
		margin-bottom: 15svh;
	}
	.headers {
		section {
			margin: 1em 1rem 0 auto;
			h3 {
				font-size: 2.2em;
			}
			h3 + p {
				font-size: 1.5em;
			}
		}
	}
}

.grid {
	border: 1px solid var(--border);
}


// .free5 {
// 	grid-column: 5/5;
// 	grid-row: 1/4;
// 	grid-column: 5/5;
// 	grid-row: 2/4;
//   border-right: 1px solid var(--border);
// }
// @media (max-width: 1023.98px) {
// }
// @media (min-width: 1024px) {
// 	// .lamp,.bggrid {
// 	// 	display: none;
// 	// }
// 	.wrapper {
// 		position: relative;
// 		display: grid;
// 		grid-column-gap: var(--size-gutter);
// 		grid-row-gap: var(--size-gutter);
// 		grid-template-columns: 1fr 48px 1fr auto;
// 		// grid-template-rows: auto auto auto;
// 		grid-template-rows: 300px 469px auto;
// 	}
// 	.lamp {
// 		background-size: contain;
// 		background-size: cover;
// 		border-radius: 100% 0% 0% 100% / 0% 50% 50% 100%;
// 	}
// }

// @container main (min-width: 768px) {}
// @container main (min-width: 1024px) {
	// .wrapper {
		// max-width: var(--size-max-width);
		// margin: 0 auto;
		// width: calc(85% - var(--size-gutter));
		// display: block;
		// .title {
		// 	margin: -60px 0 var(--space-3xl);
		// }
	// }
// }
// @container main (min-width: 1920px) {
	// .container {
	// 	max-width: var(--nav-width);
	// 	margin: 0 auto;
	// }
// }
// border: 1px solid #eee;
// border: 1px solid crimson;
// border: 1px solid cyan;
// 	border: 1px solid tomato;
// padding-left: var(--size-gutter);
// padding-right: var(--size-gutter);
// @container body (max-width: 768px) {
// @container body (min-width: 1200px) {
// 	.lamp,.bggrid {
// 		display: block;
// 	}
// }
// :root {
// 	--border: rgba(0, 0, 0, 0.1);
// // --duskGray: #292f3b;
// // --lunaGray: #a6b1b5;
// // --shineWhite: #f4f4f4;
// // --underlowline: #EADD36;
// // --underduskGray:#292f3b;
// // --duskGray: #272f3a;
// // background-color: #EADD36;
// // --shineWhite2: #fafafa;
// // --paperSoftness: #d1bca1;
// // --intoroRow: 42dvh;
// }


// &::before {
// 	position: absolute;
// 	content: '';
// 	display: block;
// 	background: rgb(248 248 248 / .2);
// 	// background: url("../../asset/img/marc-olivier-jodoin-j2veIzsS9sY-unsplash-1680.avif") no-repeat right top;
// 	// background: url("../../asset/img/marc-olivier-jodoin-j2veIzsS9sY-unsplash-1680.avif") no-repeat right bottom;
// 	background-size: 200%;
// 	width: 75%;
// 	height: 75%;
// 	// max-width: 275px;
// 	// max-height: 275px;
// 	right: 0em;
// 	top: 0em;
// 	// border-top: 1em solid var(--background);
// 	// border-right: 1em solid var(--background);
// 	// border-left: .2em solid var(--background);
// 	// border-bottom: 4em solid var(--background);
// 	// border-width: 0 0 4em .2em;
// 	// border-color: var(--background);


// 	// transform: rotate(-9deg) translateY(0);
// 	border-radius: 0% 100% 100% 0% / 50% 0% 100% 50%;
// 	border-radius: 0% 100% 50% 50% / 100% 100% 0% 0%;
// 	border-radius: 100% 0% 0% 100% / 0% 50% 50% 100%;
// 	z-index: -1;
// }