.wrapper {
	display: grid;
	width: 100%;
	margin-top: 2em;
	grid-column-gap: 2dvw;
	grid-row-gap: 0;
	grid-template-columns: 2fr 10fr;
  grid-template-rows: 80svh;
	h1 {
		font-size: var(--text-3xl);
	}
	h2 {
		font-size: var(--text-2xl);
	}
	h3 {
		font-size: var(--text-xl);
	}
}


.navigation {
	grid-column: 1/2;
	grid-row: 1/-1;
	border: 1px solid tomato;
}

.container {
	grid-column: 2/3;
	grid-row: 1/-1;
	border: 1px solid cyan;
	border: 1px solid blueviolet;

}