@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/Inter-roman.var.woff2?v=3.19') format('woff2');
}
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/Inter-italic.var.woff2?v=3.19') format('woff2');
}

html {
  scroll-behavior: smooth;
}

html * {
  box-sizing: border-box;
}

:root {
  --background: var(--white);
  --text-color: var(--black);
  body.dark-mode {
    --background: #323339;
    --text-color: #ddd;
  }
  body.light-mode {
    --background: var(--white);
    --text-color: var(--black);
  }
  // @media (prefers-color-scheme: dark) {
  //     --background: #323339;
  //     --text-color: #ddd;
  //     nav {
  //       img {
  //         filter: invert(100%);
  //       }
  //       button:last-child { 
  //         svg {
  //           fill: var(--primary);
  //         }
  //       }
  //       svg {
  //         fill: var(--secondary);
  //       }
  //     }
  //     .picts img {
  //       filter: invert(100%);
  //     }
  // }
}

// :root {
// 	--text-color: #333;
// 	--background: #fff;
// 	@media (prefers-color-scheme: dark) {
// 		:root {
// 			--text-color: #ddd;
// 			--background: #000;
// 		}
// 	}
// }

.wave,.wavervs,.wavetop {
  // border: 1px solid tomato;
	margin-top: -200px;
	display: block;
	height: 200px;
	transform: scale(-1, -1);
  svg {
    fill: var(--background);
  }
}
.wave {
  transform: scale(-1, -1);
}
.wavervs {
  transform: scale(1.75, -1);
}
.wavetop {
  transform: scale(1.75, -1);
  // margin-top: -180px;
}
.wavemdl {
  transform: scale(1.5, -1);
}
// border: 1px solid tomato;

body {
  background: var(--background);
  color: var(--text-color);
  font-family: var(--font-sans);
  font-size: 16px;
  font-weight: var(--body);
  line-height: var(--default);
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  transition: background-color 0.3s ease;
}

.dark-mode {
  nav {
    img {
      filter: invert(100%);
    }
    button:last-child { 
      svg {
        fill: var(--primary);
      }
    }
    svg {
      // fill: var(--text-color);
      fill: var(--secondary);
    }
  }
  .picts img {
    filter: invert(100%);
  }
}

body.light-mode {
  nav {
    button:first-child { 
      svg {
        fill: var(--primary);
        opacity: 1;

        // fill: var(--crimson);
      }
    }
    svg {
      fill: var(--secondary);
      opacity: 0.5;
      // fill: var(--primary);
    }
  }
}

.dark-mode-toggle {
  display: flex;
  margin: 0 auto;
  img {
		height: 24px;
	}
	button {
    background: initial;
		border: initial;
    cursor: pointer;
    padding: 0;
	}
}

.toggle-control {
  position: relative;
  padding: 0 4px;
  // padding: 0;
  display: flex;
  align-items: center;
  // border: 1px solid pink;
}

input[type='checkbox'].dmcheck {
  // width: 40px;
  width: 36px;
  height: 10px;
  background: #555;
  position: relative;
  border-radius: 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  // cursor: pointer;
  vertical-align: 2px;
  outline: none;
  &:checked + label {
    // left: 30px;
    left: 26px;
    // right: 6px;
    cursor: pointer;
    // background: var(--secondary);
    // background: var(--crimson);
  }
  &:focus-visible {
    outline: solid 2px white;
  }
  & + label {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
    position: absolute;
    // left: 2px;
    left: 6px;
    opacity: 0.9;
    background-color: #f6f6f6;
    // background: var(--crimson);
    // background: var(--secondary);
  }
}


// body.black-mode {
//   background-color: var(--black);
//   color: var(--white);
//   transition: background-color 0.3s ease;
// }

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--semibold);
  line-height: var(--dense);
}

a {
  color: currentColor;
  text-decoration: none;
  transition: all .2s ease-out;
}

a:hover {
  color: var(--primary);
}

a.active {
  font-weight: var(--bold);
}

tt,
code,
kbd {
  background: var(--black-fade-5);
  // background: var(--black);
  padding-bottom: 0.2em;
  padding-top: 0.2em;
}

tt,
code,
kbd {
  font-family: var(--font-monospace);
  font-size: 96%;
}

tt,
code {
  background-color: var(--black-fade-5);
  border-radius: var(--radius-sm);
  font-weight: var(--medium);
  padding: 0.2em 0;
  color: var(--black);
}

code:before,
code:after,
tt:before,
tt:after {
  content: ' ';
  letter-spacing: -1em;
  letter-spacing: -0.2em;
}

.hero-title {
  letter-spacing: -0.012em;
  font-size: var(--text-title);
  font-weight: var(--extrabold);
  line-height: var(--solid);
  margin: var(--space-3xl) 0;
  // border: 1px solid cyan;
}


// .center {
//   text-align: center;
// }
// .flex {
//   background: #000;
// }
// pre,
// code {
//   font-family: var(--font-monospace);
//   background: var(--black);
//   color: var(--background);
//   border-radius: 4px;
// }
// pre {
//   padding: var(--space-xl);
// }

// .mecode {
//   background: #000;
// }

  // --space-sm: 4px;
  // --space-md: 8px;
  // --space-lg: 16px;
  // --space-xl: 20px;
  // --space-2xl: 24px;
  // --space-3xl: 48px;
//main {
	// container-type: inline-size;
//

// .switcher input:nth-of-type(1):checked ~ body {
// 	--background: var(--white);
// 	--text-color: var(--black);
// }
// .switcher input:nth-of-type(2):checked ~ main {
// 	--background: #323339;
// 	--text-color: #eee;
// }
// .switcher input:nth-of-type(3):checked ~ main {
// 	--background: var(--black);
// 	--text-color: var(--white);
// }

// --background: #282828;
    // --background: #292a2d;