@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/Inter-roman.var.woff2?v=3.19') format('woff2');
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/Inter-italic.var.woff2?v=3.19') format('woff2');
}

html {
  scroll-behavior: smooth;
}

html * {
  box-sizing: border-box;
}

:root {
  --background: var(--white);
  --text-color: var(--black);
  body.dark-mode {
    // --background: #323339;
    --background: #292a2d;
    --background: #282828;
    --text-color: #ddd;
    .dark-mode-toggle {
      button:nth-of-type(2) {
        display: none;
      }
    }
    // --text-color: var(--white);
    // --background: var(--black);
  }
  body.light-mode {
    --background: var(--white);
    --text-color: var(--black);
    .dark-mode-toggle {
      button:nth-of-type(1) {
        display: none;
      }
    }
  }
}

body {
  background: var(--background);
  // background: #292a2d;
  color: var(--text-color);
  font-family: var(--font-sans);
  font-size: 16px;
  font-weight: var(--body);
  line-height: var(--default);
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  transition: background-color 0.3s ease;
}

// body.light-mode {
//   background-color: var(--white);
//   color: var(--black);
//   transition: background-color 0.3s ease;
// }

.dark-mode {
  nav {
    img {
      filter: invert(100%);
    }
  }
}

// body.black-mode {
//   background-color: var(--black);
//   color: var(--white);
//   transition: background-color 0.3s ease;
// }

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--semibold);
  line-height: var(--dense);
}

a {
  color: currentColor;
  text-decoration: none;
}

a:hover {
  color: var(--primary);
}

a.active {
  font-weight: var(--bold);
}

tt,
code,
kbd {
  // background: var(--black-fade-5);
  // background: var(--black);
  padding-bottom: 0.2em;
  padding-top: 0.2em;
}

tt,
code,
kbd {
  font-family: var(--font-monospace);
  font-size: 96%;
}

tt,
code {
  // background-color: var(--black-fade-5);
  border-radius: var(--radius-sm);
  font-weight: var(--medium);
  padding: 0.2em 0;
}

code:before,
code:after,
tt:before,
tt:after {
  content: ' ';
  letter-spacing: -1em;
  // letter-spacing: -0.2em;
}

// pre,
// code {
//   font-family: var(--font-monospace);
//   background: var(--black);
//   color: var(--background);
//   border-radius: 4px;
// }
// pre {
//   padding: var(--space-xl);
// }

// .mecode {
//   background: #000;
// }

  // --space-sm: 4px;
  // --space-md: 8px;
  // --space-lg: 16px;
  // --space-xl: 20px;
  // --space-2xl: 24px;
  // --space-3xl: 48px;
//main {
	// container-type: inline-size;
//




// .switcher input:nth-of-type(1):checked ~ body {
// 	--background: var(--white);
// 	--text-color: var(--black);
// }
// .switcher input:nth-of-type(2):checked ~ main {
// 	--background: #323339;
// 	--text-color: #eee;
// }
// .switcher input:nth-of-type(3):checked ~ main {
// 	--background: var(--black);
// 	--text-color: var(--white);
// }
