@font-face {
  font-family: 'LINE Speed JP';
  src: local('LINE Seed JP_OTF'),local('LINE Seed JP_TTF'),url(../asset/WOFF2/LINESeedJP_OTF_Rg.woff2);
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: 'LINE Speed JP';
  src: local('LINE Seed JP_OTF'),local('LINE Seed JP_TTF'),url(../asset/WOFF2/LINESeedJP_OTF_Bd.woff2);
  font-display: swap;
  font-weight: 700;
}

:root {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.lightmode {
  --background: var(--white);
  --text-color: var(--black);
  --dlborderColor: #eee;
  --notedlColor: #666;
  --detailsBg: #fdfdfd;
  --borderColor: #ccc; //mokuji
  --duskGray: #292f3b; //indexPageLine
	--lunaGray: #a6b1b5;
	--shineWhite: #f4f4f4;
	--underlowline: #EADD36;
	--underduskGray:#292f3b;
  --summaryborder:rgb(0 0 0 / 0.1);
}
.darkmode {
  --background:#2c2d32;
  --text-color: #ddd;
  --dlborderColor:#666;
  --notedlColor: #999;
  --detailsBg: #17191f;
  --borderColor: #555;
  --duskGray: rgb(95 146 160 / 0.9);
	--lunaGray: rgb(166 177 181 / 0.9);//#a6b1b5;
	--shineWhite: rgb(244 244 244 / 0.8);//#f4f4f4;
	--underlowline: #EADD36;
	--underduskGray: rgb(95 146 160 / 0.7);
  --summaryborder:rgb(244 244 244 / 0.2);

}
.blackmode {
  --background: #000;
  --text-color: #ddd;
  --dlborderColor:#666;
  --notedlColor: #999;
  --detailsBg: #222;
  --borderColor: #555;
  --duskGray: rgb(95 146 160 / 0.8);
	--lunaGray: rgb(166 177 181 / 0.8);//#a6b1b5;
	--shineWhite: rgb(244 244 244 / 0.8);//#f4f4f4;
	--underlowline: #EADD36;
	--underduskGray: rgb(95 146 160 / 0.7);
  --summaryborder:rgb(244 244 244 / 0.2);
}

html {
  scroll-behavior: smooth;
  background-color: var(--background);
  transition: background-color .5s ease;
}
html * {
  box-sizing: border-box;
}

main {
  overflow-x: hidden;
  container: main / inline-size;
  // border: 1px solid crimson;
  // border: 1px solid orchid;
}

body {
  // background: var(--background);
  color: var(--text-color);
  font-family: var(--font-sans);
  font-size: 16px;
  font-weight: var(--body);
  line-height: var(--default);
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  transition: background-color .7s ease-out;
  container: body / inline-size;
  // transition: background-color .5s ease;
  // border: 1px solid Cyan;
}

/* Dark-mode ------------------------------- */
.darkmode {
  nav {
    img {
      filter: invert(100%);
    }
    button:nth-of-type(2) {
      cursor: unset;
      span {
        font-weight: bold;
        color: var(--background);
      }
    }
  }
  .picts img {
    filter: invert(100%);
  }
  .logo {
    filter: invert(100%);
  }
  .footlogo svg {
    filter: invert(1);
  }

}

/* Black-mode ------------------------------- */
.blackmode {
  nav {
    img {
      filter: invert(100%);
    }
    button:nth-of-type(3) {
      cursor: unset;
      span {
        font-weight: bold;
        opacity: .5;
        color: var(--background);
      }
      svg {
        opacity: .5;
      }
    }
  }
  .picts img {//aboutPage
    filter: invert(100%);
  }
  .logo {
    filter: invert(100%);
  }
}

.lightmode {
  nav {
    button:nth-of-type(1) {
      cursor: unset;
      span {
        font-weight: bold;
        opacity: .4;
        // color: var(--background);
        // color: #17191f;
      }
    }
  }
}

// .wave,.wavervs,.wavetop {
// 	margin-top: -200px;
// 	display: block;
// 	height: 200px;
// 	// transform: scale(-1, -1);
//   svg {
//     fill: var(--background);
//   }
// }
// .wave {
//   transform: scale(-1, -1);
// }
// .wavervs {
//   transform: scale(1.75, -1);
// }
// .wavetop {
//   transform: scale(1.75, -1);
// }
// .wavemdl {
//   transform: scale(1.5, -1);
// }

.logo {
  height: var(--size-logo);
  width: var(--size-logo);
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' role='img' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 0C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.6 0 12 0zm0 2.571c3.171 0 5.915 1.543 7.629 3.858l-1.286 1.115C16.886 5.572 14.571 4.286 12 4.286c-3.343 0-6.171 2.143-7.286 5.143l9.857 9.857c2.486-.857 4.373-3 4.973-5.572h-4.115V12h6c0 4.457-3.172 8.228-7.372 9.17L2.83 9.944C3.772 5.743 7.543 2.57 12 2.57zm-9.429 9.6 9.344 9.258c-2.4-.086-4.801-.943-6.601-2.743-1.8-1.8-2.743-4.201-2.743-6.515z' fill='currentColor'/%3E%3C/svg%3E%0A");
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--semibold);
  line-height: var(--dense);
}

a {
  color: currentColor;
  text-decoration: none;
  transition: all .3s ease-out;
}

a:hover {
  color: var(--primary);
}

a.active {
  font-weight: var(--bold);
}

tt,
code,
kbd {
  background: var(--black-fade-5);
  padding-bottom: 0.2em;
  padding-top: 0.2em;
}

tt,
code,
kbd {
  font-family: var(--font-monospace);
  font-size: 96%;
}

tt,
code {
  background-color: var(--black-fade-5);
  border-radius: var(--radius-sm);
  font-weight: var(--medium);
  padding: 0.2em 0;
  color: var(--black);
}

code:before,
code:after,
tt:before,
tt:after {
  content: ' ';
  letter-spacing: -1em;
}

.hero-title {
  letter-spacing: -0.012em;
  font-size: var(--text-title);
  font-weight: var(--extrabold);
  line-height: var(--solid);
  margin: var(--space-3xl) 0;
}

.primary-col {
  color: var(--primary);//#ffc400;
}
.secondary-col {
  color: var(--secondary);//#afc2cb;
}
.crimson-col {
  color: var(--crimson);//#DC143C;;
}
.blue-col {
  color: var(--blue);//#4a90e2;
}
.orange-col {
  color: var(--orangeIceberg);
}

.bold {
  font-weight: bold;
  display: inline-block;
}

// @container body (max-width: 768px) {
//   .mno {
//     display: none;
//   }
// }

// --background: var(--white);
// --text-color: var(--black);
// --dlborderColor: #eee;
// --notedlColor: #666;
// --aboutBorder: #ddd;
// --detailsBg: #fdfdfd;
// --borderColor: #ccc;//mokuji
// --tagBg: var(--black-fade-5);



// --aboutBorder: #ddd;
// --modeButtonBg: #f3f3f3;
// --modeButtonBg: #f0f0f0;
// --tagBg: var(--black-fade-5);
//workPages
// --boxShadow : var(--shineWhite);
// --duskGray: #292f3b;
// --shineWhite: #f4f4f4;
  // --aboutBorder: #555;
  // --modeButtonBg: #42444c;
  // --tagBg: #494a50;
  //workPages
  // --boxShadow : var(--background);
	// --duskGray: #f4f4f4;
	// --shineWhite: #292f3b;
	// --shineWhite: #272f3a;//292f3b;
  // --duskGray: #5f92a0;
	// --lunaGray: #a6b1b5;
	// --shineWhite: #f4f4f4;
    // --aboutBorder: #555;
  // --modeButtonBg: #404146;
  // --tagBg: #404146;
  //workPages
  // --boxShadow : var(--lunaGray);
	// --duskGray: #f4f4f4;
	// --shineWhite: #272f3a;//292f3b;
  // --duskGray: #5f92a0;

  // transition: background-color .6s ease;
    // transition: 0.1s ease;