:root {
--font-min: 游明朝, "Yu Mincho", YuMincho, serif;
}

.intoro {
	background: url(../asset/img/mk-s-wKS46KBpolg-unsplash.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	width: 100%;
	height: 40dvh;
	margin: var(--space-3xl) 0;
	padding: var(--space-2xl) var(--space-3xl);
	color: var(--white);
	display: flex;
	align-items: flex-end;
	p {
		font-size: var(--text-5xl);
		font-weight: var(--body);
		margin: initial;
		text-align: center;
	}
}

.title {
	font-size: var(--text-title);
	font-weight: var(--body);
	line-height: var(--solid);
	text-transform: uppercase;
	margin: 0;
}

.article {
	display: grid;
	font-size: var(--text-prose);
	letter-spacing: var(--text-prose-tracking);
	line-height: var(--loose);
	// padding: 0;
	border:1px solid pink;
	grid-template-areas:
    "desc"
	"profile"
    "about";
}

.desc {
	grid-area: desc;
	writing-mode: vertical-rl;
	text-orientation: upright;
	// font-family: var(--font-min);
	border:1px solid tomato;
	height: 500px;
	max-height: 90vh;
	margin: 0 auto var(--space-3xl) auto;
	h1 {
		font-size: var(--text-title);
		font-family: serif;
	}
	p {
		padding-bottom: var(--space-2xl);
		padding-bottom: 0;
		margin-top: calc(var(--space-2xl) * 3);
		// font-family: var(--font-min);
	}
}

.profile {
	grid-area: profile;
	display: flex;
	align-content: end;
	margin: 0 auto;
	// border: 1px solid salmon;
	article {
		margin: auto 0 0 auto;
		img {
			max-width: 250px;
		}
	}
	dl {
		padding: 0 var(--space-xl)  var(--space-md);
		border-left: 4px solid #ddd;
		border-bottom: 4px solid #ddd;
		border-radius: 50%;
	}
}

.about {
	grid-area: about;
	margin-top: var(--space-3xl);
	border-top: 1px solid #ddd;
	padding: var(--space-3xl) var(--space-2xl) 0;
	font-family: var(--font-min);
	font-feature-settings: "palt";
	border:1px solid tomato;
}

hr {
	border: 0;
	height: 2em;
	margin-bottom: 1.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	&::before {
		content: '•••';
		letter-spacing: 2.5em;
		opacity: .75;
	}
}



@media (min-width: 1024px) {
	.article {
		// width: calc(85% - var(--size-gutter));
		padding: var(--size-gutter) var(--size-gutter) calc(var(--size-gutter) * 1.2);
		gap: var(--space-xl);
		margin: 0 auto;
		grid-template-areas:
		"desc profile"
		"about about";
	}
}
@media (min-width: 1200px) {
	.article {
		width: calc(85% - var(--size-gutter));

	}
}

// main {
// }
// background: cyan;
// border:1px solid #000;
// border:1px solid green;
// border: 1px solid salmon;
// border: 1px solid salmon;
