.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // align-items:end;
  margin: 0 auto;
  padding: var(--space-xl) var(--size-gutter) 0;
  max-width: var(--size-max-width);
  // border: 2px solid pink;
}

.navigation {
  display: flex;
  list-style: none;
  margin: 0;
  gap: var(--space-xl);
}

.navigationItem {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
}

.navigationItem a {
  border-bottom: 1.5px solid transparent;
  color: currentColor;
  text-decoration: none;
}

.navigationItem a:hover {
  border-bottom-color: var(--primary);
  color: var(--primary);
}

.logoLink {
  // border: 1px solid cyan;
  img {
    height: calc(var(--space-3xl) * 2);//2.4
    width: auto;
    // border: 1px solid var(--black);
    // object-fit: contain;
  }
  &:hover {
    img {
      filter: invert(40%);
    }
  }
}

@media (max-width: 1023.98px) {
  .container {
    padding-left: calc(var(--size-gutter)/4);
  }
}
@media (min-width: 1024px) {
  .logoLink {
    img {
      height: calc(var(--space-3xl) * 2.4);
    }
  }

}


// @media (max-width: 1023.98px) {
