.articleNavigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	padding: 0;
}
.article nav li {
	padding: var(--space-3xl) 0;
	a {
		border-bottom:initial;
		// background-color: var(--secondary);
		// background-color: var(--primary);
		background-color: var(--text-color);
		color: var(--background);
		border-radius: var(--radius-sm);
		border: 0;
		line-height: var(--solid);
		padding: var(--space-md) var(--space-lg);
	}
}


