.samplelayoutGrid {
	display: grid;
	grid-template-columns: 3fr 3fr 3fr;
	grid-template-rows: 3fr 3fr 3fr;
	column-gap: 1em;
	row-gap: 1em;
	margin: 0 auto;
	width: 450px;
	height: 450px;
}

.cell {
	border: 1px solid tomato;
	border: 1px solid var(--orangeIceberg);
	// border: 1px solid var(--primary);
}
	// width: 150px;
	// height: 150px;
	// border: 1px solid var(--primary);
	// border: 1px solid #1B1E28;

.widthFull {
	grid-column: 1/-1;
	span.line {
		display: block;
		height: 1em;
		border-bottom: 1px solid var(--border);
	}
}

// .cell-Odd {
// 	grid-column: 1/2;
// }

// .cell-Even {
// 	grid-column: 2/3;
// }
