
// .point {
// 	font-size: .9em;
// 	color: var(--crimson);
// 	color:#944970;
// 	color:#824063;
// 	color:#cc6698;//sass
// 	font-style: italic;
// }

.flex {
	display: flex;
	margin-top: 2em;
	margin-bottom:2em;
}

// .grid-container {
// 	display: grid;
// 	grid-template-columns: repeat(16, 1fr);
// 	grid-template-rows: repeat(9, 1fr);
// 	gap: .5em;
// 	margin: 5em auto;
// 	width: 90%;
// 	background: rgb(166 177 181 / 0.5);
// 	background: #89ddff70;
// hsl(195, 100%, 44%)
// background: rgba(#00a9e0, .4)
// }

// .cell {
// 	border: 1px solid var(--text-color);
// 	background: var(--hslborder);
// }

// .smallem {
// 	// width: 1em;
// 	height: 2.4em;
// }