.widthFull {
	grid-column: 1/-1;
	width: 100%;
	// text-align: center;
	article {
		padding: var(--size-gutter) calc(var(--size-gutter)*2);
		line-height: 2.1;
		font-size: var(--text-xl);
	}
}

// .grid-container {
// 	display: grid;
// 	grid-template-columns: repeat(16, 1fr);
// 	grid-template-rows: repeat(9, 1fr);
// 	gap: .5em;
// 	margin: 5em auto;
// 	width: 90%;
// 	background: rgb(166 177 181 / 0.5);
// 	background: #89ddff70;
// }

// .cell {
// 	border: 1px solid var(--text-color);
// 	background: var(--hslborder);
// }

// .smallem {
// 	// width: 1em;
// 	height: 2.4em;
// }