// border-top: 1px solid #666;
// 1 2 3
// 4 2 5
// 6 2 7
// 8 2 7
// 9 2 10

.wrapper {
	display: grid;
	grid-template-columns: 75% 15% 10%;
	grid-template-columns: 67% 17% 16%;
  grid-template-rows: 300px 300px 400px 400px 400px;
  grid-template-rows: auto 300px 400px 400px 400px;
	// margin: 0;
	// padding: 0;
	// margin-top: var(--space-2xl);
	// margin-top: -10px;
	div {
		border: 1px solid #ccc;
		font-size: 1em;
		flex-shrink: 0;
	}
}
	
/* wrapper items --------------------*/
.item1 {
	grid-column: 1 / 2;
	grid-row: 1 / 2;

}
// --duskGray: #272f3a;
// 	--duskGray: #292f3b;
// 	--lunaGray: #a6b1b5;
// 	--shineWhite: #f4f4f4;
// 	--paperSoftness: #d1bca1;
// 	--intoroRow: 42dvh;

.item2 {
	grid-column: 2 / 3;
	grid-row: 1 / 5;
	// margin-top: -100px;
	// border-radius: 10dvw 5dvw 0 0;
	background: transparent;

	border-radius: 25dvw 25dvw 0 0;

	background: url(./../asset/img/carmen-martinez-K4uj-VPRjJc-unsplash.png);//1
	background: url(../asset/img/faizur-rehman-dJpupM4LiS4-unsplash2.jpg);//pad

	// background-size: contain;
	background-size: cover;
	background-position: bottom;

	// filter: saturate(80%);
	// filter: blur(1px);
	// filter: saturate(50%);
	// filter: sepia(50%);
	// filter: grayscale(90%);
	// filter: brightness(0.5);
}

.item3 {
	// grid-column: 3 / 4;
	// grid-row: 1 / 2;
	background: transparent;
	background: var(--shineWhite);

}

.item4 {
	background-color: var(--orangeIceberg);
	background-color: #EDD60E;//e5c71b;
	background-color: #EADD36;
	// background: var(--duskGray);
	text-align: center;
	color: var(--black);
	h2 {font-size: 2em;}
	display: flex;
	// flex-wrap: wrap;
	align-items: center;
	overflow-x: scroll;
}

// .figset {
// 	// background-color: #EADD36;
	
// }




.item5 {
	
	background-color: #EADD36;
	// grid-column: 2 / 3;
	// grid-row: 2 / 4;
	// // margin-top: -380px;
	// z-index: 9;
	
}

.item6 {
	// flex-wrap: wrap;
	background: #f5f5f5;
	background: #f4f5f7;
	// background: #000;
	// margin-bottom: 40px;
	// width: 70vw;
	// border: #EDD60E 1px solid;
	
	

}






.item7 {
	// grid-column: 3 / 4;
	// grid-row: 3 / 5;
	// grid-column: 1 / 2;
	// grid-row: 3 / 4;
	background: pink;
	background-color: transparent;
}

.item8 {
	background-color: transparent;
}

.item9 {
	background-color: transparent;
}

.item10 {
	background-color: transparent;
}


// .box {
//   width: 300px;
//   height: auto;
//   background-color: #92c5fd;
//   animation: fadeIn linear both;
//   animation-timeline: view();
//   animation-range: entry 25% cover 50%;
// }









@keyframes fadeIn {
  from {
    opacity: 0;
    clip-path: inset(45% 20% 45% 20%);
  }

  to {
    opacity: 1;
    clip-path: inset(0% 0% 0% 0%);
  }
}



@keyframes loop {
	0% {
		transform: translateX(0);
	}
	// 50% {
	// 	transform: translateX(0);
	// }
	100% {
		transform: translateX(-100%);
	}
}

